.inpform{
   background-color: #e9ecef;
   width: 75%;
}

.inpform2{
    height: 50px;
    width: 75%;
}
.star{
    color: red;
    position: relative;
    bottom: 12px;
}

.select-form{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 4px !important;
}

